<template>
    <div class = "top-rated">
        <h2>Film les mieux notés</h2>
        <br>
        <table>
            <tr v-for="unFilm in notation" v-bind:key="unFilm.key">
                <td class="titre1">{{unFilm.title}}</td>
                <td v-if="unFilm.poster_path!=null" >
                    <img class="poster"  v-bind:src="'http://image.tmdb.org/t/p/w500' + unFilm.poster_path"></td>
                <td>
                    <button class="bouton" v-on:click="voirDetails(unFilm)">Détails</button>
                </td>
            </tr>
        </table>
    </div>
    
</template>

<script>
    import axios from "axios";
    export default{
        name: 'Notation',
        data ()  {
            return {
                baseUrl: 'https://api.themoviedb.org/3',
                api_key: '9021264f48ddf90a2c1bf9c58af5d837',
                films: [],
                notation: [],
            }
        },

        methods: {
            async getNotation() {
                const response = await axios.get(this.baseUrl + '/movie/top_rated/?api_key=' + this.api_key);
                this.notation = await response.data.results;
            },

            voirDetails(film) {
                this.$router.push({
                    path: 'Details', query: {
                        id: film.id
                    }

                });
            },
        },
        created() {
            this.film = {
                id: this.$route.query.id,
            }
            this.getNotation();
        }
    }
</script>

<style scoped>

</style>