

<template>
  <div id="nav">
    <router-link to="/">Accueil</router-link> |
    <router-link to="/recherche">Recherche</router-link> |
    <router-link to="/notation">Les mieux notés</router-link>
  </div>
  <router-view/>
</template>

<script>
export default {
	name: 'App',
	methods: {
		getList(){
			this.axios.get(api).then((response) => {
				console.log(response.data)
			})
		}
	}
}
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #33DDFF;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #33DDFF;
}

#nav a.router-link-exact-active {
  color: #33DDFF;
}
</style>
